body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0e1e1;
    color: #333;
}

h1 {
    text-align: center;
    letter-spacing: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    font-style: italic;
    font-weight: 500;
    color: #007bff;
}

p {
    line-height: 1.6;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}
.btn_cancelar {
    /* Cor de fundo */
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
}
.btn_cancelar:hover {
    background-color: rgb(255, 0 , 0);
}
.destaque {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    padding: 3px;
}